.message{data: {'message-id' => "#{message.id}"}}
  %p.message__user
    = message.user.name
  %p.message__date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.message__text
    = message.body
    %br
    = image_tag message.image.url if message.image.present?
