.wrapper
  =render partial: "shared/side_bar"

  .chat-main

    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list Member :
        %li.main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name

      .main-header__edit-btn
        = link_to "Edit", edit_group_path(current_user), class: 'btn'

    .messages
      =render partial: "message", collection: @messages

    .form
      .form__new-message
        = form_for [@group, @message] do |f|
          .box
            = f.text_field :body, class: 'box__text', placeholder: "type a message"
            = f.label :image, class: 'box__image' do
              = fa_icon 'image', class: 'icon'
              = f.file_field :image, id: 'message_image'
          = f.submit 'Send', class: 'form__send'

